/*
cor botão: #1E88E5
cor fundo: #E3F2FD
cor titulos e rodapé: #0D47A1
cor subtitulos: #263238;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans serif;
    background-color: #E3F2FD;
}

.login-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.login-card{
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 

    margin-bottom: 20px;
}

.logo h1{
    font-size: 32px;
    color: #0D47A1;
}

.login-card h2{
    text-align: center;
    color: #263238;
    margin-bottom: 5px;
}

.subtitle{
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

.input-group{
    display:flex;
    flex-direction: column;

    margin-bottom: 15px;
}

.input-group label{
    margin-bottom: 5px;

    font-size: 15px;
    font-weight: bold;

    color: #374737;
}

.input-group input{
    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 14px;

    outline: none;
}

.input-group input:focus{
    border-color: #1E88E5;
}

.login-button{
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 8px;

    background-color: #1E88E5;

    color: #fff;
    
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    margin-top: 10px;
}

.login-button:hover{
    background-color:  #6fbafc;
}

.forgot-password{
    display: block;

    margin-top: 10px;

    text-align: left;

    font-size: 15px;
    text-decoration: none;
}

.forgot-password:hover{
    text-decoration: underline;
}

@media (max-width: 500px){
    .login-card{
        padding: 25px;
    }

    logo h1{
        font-size: 21px;
    }

    .login-card h2{
        font-size: 18px;
    }
}

.password-container {
    position: relative;
}

.password-container input{
    padding-right: 40px;
}

.password-button{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    background: none;
    border: none;

    cursor: pointer;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

.error-message {
    color: #d32f2f;
    font-size: 13px;
    margin-top: 6px;
    min-height: 16px;
}

.input-error {
    border-color: #d32f2f !important;
}

